<html>
  <head>
  </head>
  <body>
    <h3>Hi ${nome}! Welcome to <a href="http://www.example.com">${artifactId}</a></h3>

    <div>
       You signed up with the following email address: <b>${email}</a>
       Your password is: ${senha}
    </div>

  </body>
</html>
