<!doctype html>
<html lang="en" class="no-js" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
	<meta charset="UTF-8">
	<title>${artifactId}</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="apple-touch/apple-touch-icon.png">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script>document.documentElement.classList.replace('no-js', 'js');</script>
</head>
<body class="d-flex flex-column min-vh-100">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#">${artifactId}</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarMain">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item" wicket:id="home"><a class="nav-link" href="#" wicket:id="homeLink">Home</a></li>
						<li class="nav-item" wicket:id="signUp"><a class="nav-link" href="#" wicket:id="signUpLink">Sign Up</a></li>
						<li class="nav-item" wicket:id="signIn"><a class="nav-link" href="#" wicket:id="signInLink">Sign In</a></li>
						<li class="nav-item" wicket:id="logOut"><a class="nav-link" href="#" wicket:id="logOutLink">Logout</a></li>
						<li class="nav-item" wicket:id="contact"><a class="nav-link" href="#" wicket:id="contactLink">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main id="main" class="container flex-grow-1 py-4">
		<wicket:child />
	</main>
	<footer class="bg-dark text-light py-3 mt-auto">
		<div class="container">
			<h3 class="h6 mb-0">A nice footer</h3>
		</div>
	</footer>

	<script src="js/vendor/bootstrap.bundle.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>
