<!doctype html>
<html lang="en" class="no-js" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
	<meta charset="UTF-8">
	<title>${artifactId}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script>document.documentElement.classList.replace('no-js', 'js');</script>
</head>
<body class="d-flex flex-column min-vh-100">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#">${artifactId}</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarMain">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Sign In</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main id="main" class="container flex-grow-1 py-4">
	<wicket:extend>
		<div class="row">
			<aside class="col-md-3">
				<h3 class="h5">Something aside</h3>
			</aside>
			<article class="col-md-9">
				<header>
					<h2>Main Page</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
				</header>
				<h3 class="h5">This is an internal Page</h3>
				<p>Now that you are in an internal page, you might want to go to the <a href="#" wicket:id="adminLink">admin page</a>.</p>
				<footer class="text-body-secondary">
					<h3 class="h6">About the Main Page</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in.</p>
				</footer>
			</article>
		</div>
	</wicket:extend>
	</main>
	<footer class="bg-dark text-light py-3 mt-auto">
		<div class="container">
			<h3 class="h6 mb-0">A nice footer</h3>
		</div>
	</footer>
	<script src="js/vendor/bootstrap.bundle.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>
