<html>
  <head>
    <title>Startup DEV</title>
    <meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body style="background-color:#d4d4d4;"><center>
    <table cellpadding="0" cellspacing="0" style="background-color:#d4d4d4;padding-top:10px;padding-left:20px;padding-right:20px;font-size:16px;line-height:20px;color:#666666;font-family:'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">
      <tbody><tr>
          <td bgcolor="#d4d4d4">
	          <a href="http://ideia.startupdev.com.br" title="Visitar o si
te de Ideias"><img alt="Startup DEV" border="0" height="128" src="http://ideias.startupdev.com.br/images/email/logo.png" style="margin-top:15px;margin-right:30px;margin-bottom:15px;margin-left:40px;" width="128" /></a>

            <table align="center" cellpadding="0" cellspacing="0" width="702" style="font-size:16px;line-height:20px;color:#666666;font-family:'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;">
              <tbody>
                <tr>
                  <td><img alt="" height="13" src="http://ideias.startupdev.com.br/images/email/top.png" style="display: block" width="702" /></td>
                </tr>
                <tr>
                  <td bgcolor="#ffffff" width="550" style="background-color:#ffffff;border-right-width:1px;border-right-style:solid;border-right-color:#c0c0c0;border-left-width:1px;border-left-style:solid;border-left-color:#c0c0c0;">
                    <table cellpadding="0" cellspacing="0" width="700" bgcolor="ffffff" style="font-size:16px;line-height:20px;color:#757575;font-family:'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;background-color:#ffffff;">
                      <tbody><tr>
                          <td colspan="3">
                            <div style="margin-top:0px;margin-right:30px;margin-bottom:15px;margin-left:40px;" class="edit">
		                            <h2 style="margin-top:20px;margin-right:30px;margin-bottom:15px;margin-left:40px;font-size:24px;line-height:27px;font-weight:bold;color:#000000;" class="edit">Ideia criada com sucesso
</h2>
		                            <hr style="background-color:#e8e8e8; border:0; color:#e8e8e8; height:1px;">
	                            <div style="margin-top:0px;margin-right:30px;margin-bottom:15px;margin-left:40px;" class="edit">
	                            	<p>Sua ideia foi publicada em nosso site.</p>
<p style="font-size: 1.5em"><a href="http://ideias.startupdev.com.br/ideas/49-copo-de-agua-com-auto-refil">Link para a Divulgação</a></p>

<p>Você também pode alterar a sua ideia.</p>
<p style="font-size: 1.5em"><a href="http://ideias.startupdev.com.br/ideas/49-copo-de-agua-com-auto-refil/edit?hash=D5d460c79bc392c9620a4">Alterar a Ideia</a></p>
<p>Parabéns e sucesso!</p>
															</div>
                            </div>
                          </td>
                        </tr>
                    </tbody></table>
                  </td>
                </tr>
                <tr>
                  <td><img alt="" height="13" src="http://ideias.startupdev.com.br/images/email/bottom.png" style="display: block" width="702" /></td>
                </tr>
                <tr>
                  <td>
                    <table width="100%">
                      <tr>
                        <td>
                          <p style="text-align:left;margin-top:15px;margin-right:10px;margin-bottom:10px;margin-left:10px;"><small style="font-size:11px;line-height:15px;color:#777777;"><strong>Equipe Startup DEV</strong><br />
                            Site: <a href="http://ideias.startupdev.com.br">http://ideias.startupdev.com.br</a><br />
                            Startup DEV: <a href="http://startupdev.com.br">https://startupdev.com.br</a><br />
													</small></p>
                        </td>
                        <td style="text-align:right;padding-right: 10px">
													&nbsp;
												</td>
                      </tr>
                    </table>
                  </td>
                </tr>
            </tbody></table>
          </td>
        </tr>
    </tbody></table></center>
	</body>
</html>
