/********************************************************************

Project: Formee - http://www.formee.org
Last Updated: 19/04/2010
Version: 1.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
             Daniel Araujo - http://www.dnlaraujo.com.br
			 Marcello Manso - http://www.marcellomanso.com.br
********************************************************************
Structure
********************************************************************/
/* Little CSS Reset to preserv form structure */
.form * {
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	font-size: 100%;
}

/* Form Structure */
.form fieldset {
	position: relative;
	height: 100%;
}

/* Field Grid */
.grid-1-12,.grid-2-12,.grid-3-12,.grid-4-12,.grid-5-12,.grid-6-12,.grid-7-12,.grid-8-12,.grid-9-12,.grid-10-12,.grid-11-12,.grid-12-12
	{
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	padding: 0.5% 0.5% 0.8%;
	height: 100%;
	/*ie7*/
	*margin-left: .8%;
	*margin-right: .8%;
	*padding: 0.5% 0.25% 0.8%;
}

/* 12-column Grid (thanks for Fluid 960 Grid System) */
.grid-1-12 {
	width: 5.333%;
}

.grid-2-12 {
	width: 13.666%;
}

.grid-3-12 {
	width: 22%;
}

.grid-4-12 {
	width: 30.333%;
}

.grid-5-12 {
	width: 38.666%;
}

.grid-6-12 {
	width: 47%;
}

.grid-7-12 {
	width: 55.333%;
}

.grid-8-12 {
	width: 63.666%;
}

.grid-9-12 {
	width: 72%;
}

.grid-10-12 {
	width: 80.333%;
}

.grid-11-12 {
	width: 88.666%;
}

.grid-12-12 {
	width: 97%;
}

/* first item */
.alpha {
	margin-left: 0;
}

/* last item */
.omega {
	margin-right: 0;
}

/* clear */
.field-clear {
	clear: both;
}

/* form elements  */
.form input,.form label,.form img,.form select {
	vertical-align: middle;
	line-height: 1em;
}

.form-lbl {
	display: block;
	height: auto;
	margin: 0.5em 0 0.8em;
}

.form-list-chk .form-lbl,.form-list-rdo .form-lbl {
	display: inline;
	height: auto;
	margin: 0.5em 0 0.8em 2px;
}

.form-req {
	position: relative;
	top: 3px;
}

/*.form-container { border:1px solid; display: block; clear:both; overflow: hidden;}*/
.form-msg-info,.form-msg-warning,.form-msg-error,.form-msg-success {
	padding: 6px 10px 5px;
	display: block;
	height: auto;
	margin: -0.3em 0 0.5em;
}

/*.form .form-txt, .form textarea {	margin: 0.3%;	background: transparent;	width: 99.4%;}*/
.form .form-txt,.form textarea,.form select {
	width: 100%;
	padding: 5px;
	border: 1px solid #999;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	/*ie7*/
	*width: 99%;
}

.form textarea {
	height: 15em;
}

.form select {
	padding: 4px;
}

/* form button  */
.form-button {
	padding: 4px 6px;
	cursor: pointer;
	text-align: center;
	float: left;
	margin-left: 0.3em;
	display: inline;
	/*ie7*/
}

.form-no-lbl {
	padding-top: 35px;
}

/* input with readonly attribute */
.form-readonly,input[readonly] {
	border: none;
	font-weight: normal;
	padding-left: 0;
}

/* multiple containers inside field-grid */
.form-left {
	float: left;
	margin-right: 0.3em;
	clear: none;
}

.form-right {
	float: right;
	margin-left: 0.3em;
	clear: none;
}

/* lista de chk e rdo */
.form-list-chk,.form-list-rdo {
	height: 100%;
}

.form-list-chk li,.form-list-rdo li {
	margin: 0.5em 0.6em 0.2em;
	float: left;
	display: inline;
	list-style: none;
}

.form-list-chk input,.form-list-rdo li input {
	margin-right: 0.2em
}

/* tamanhos dos campos */
.form-small {
	width: 30% !important;
	float: left;
	margin-right: 10px;
	display: inline;
	/*ie7*/
	*width: 25% !important;
}

.form-medium {
	width: 50% !important;
	float: left;
	margin-right: 10px;
	display: inline;
	/*ie7*/
	*width: 45% !important;
}

.form-big {
	width: 70% !important;
	float: left;
	margin-right: 10px;
	display: inline;
	/*ie7*/
	*width: 65% !important;
}

.form-date {
	width: 80px !important;
	float: left;
	margin-right: 10px;
	display: inline;
}

.form-time {
	width: 60px !important;
	float: left;
	margin-right: 10px;
	display: inline;
}

.form-date-day,.form-date-year {
	width: 40px !important;
	float: left;
	margin-right: 10px;
	display: inline;
}

.form-date-month {
	width: 60px !important;
	float: left;
	margin-right: 10px;
	display: inline;
}

/* fix  ff bugs */
div:after,ol:after,form:after,dl:after,ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	overflow: hidden;
}