#disqus_thread {
	margin-right: 30px;
}

input.register {
	width: 150px;
	cursor: pointer;
}

.star-rating-control {
	margin: 0 auto;
	width: 100px;
	padding: 2em;
	display: block;
}

.report-spam {
	margin: 0 auto;
	width: 140px;
	padding: 2em;
	display: block;
}

div.rating-cancel {
	display: none !important;
}

.postshare {
	margin: 1em 0 0 0;
}

.pagination { overflow: hidden; padding: 15px 12px 0px; }

.pagination { position: relative; text-align:right; font-family: 'Yanone Kaffeesatz', Arial, sans-serif; font-size: 14px; color: #535253; padding-right:25px; margin-top:35px; text-shadow:1px 1px 1px #FFFFFF; }
.pagination a, .pagination a:link { padding: 5px 7px !important; margin: 2px; text-decoration: none; border: none !important; color: #c7c7c7; background:  none !important; font-weight: normal !important; font-size: 30px; text-shadow:1px 1px 1px #FFFFFF; }
.pagination a:visited { padding: 5px 7px; margin: 2px; text-decoration: none; border: none !important; color: #c7c7c7; background:  none !important; }
.pagination span.pages { padding: 5px 7px 5px !important; margin: 2px !important; border: none !important; color: #535253 !important; background: none !important; margin-right: 6px !important; text-shadow:1px 1px 1px #FFFFFF; }
.pagination em, .pagination span.extend, .pagination a:active, .pagination a:hover { padding: 5px 7px !important; margin: 2px; background: none !important; border: none !important; color:#383738 !important; font-size: 30px; font-weight: normal !important; text-shadow:1px 1px 1px #FFFFFF; font-style: normal }

div.textboxlist {
  margin-left: 0 !important;
  width: 99.4% !important;
}

ul.textboxlist-bits {
  padding: 5px !important;
  background: url("/images/textarea-bg.png") repeat-x scroll 0 0 #F6F6F6 !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
}

input.textboxlist-bit-editable-input {
  background: url("/images/textarea-bg.png") repeat-x scroll 0 0 #F6F6F6 !important;
  margin: 0 !important;
}

li.textboxlist-bit-box-hover { 
  background: #69AFF4 !important;
}

li.textboxlist-bit {
  background: #BBCEF1;
  margin: 0 5px 0 0 !important;
}

.tag1 { font-size: 1.0em; }
.tag2 { font-size: 1.2em; }
.tag3 { font-size: 1.4em; }
.tag4 { font-size: 1.6em; }

a.cancel, a.delete,
a.cancel:visited, a.delete:visited {
	color:#FF0000;
	padding:0.2em;
	text-decoration:underline;
}
a.cancel:hover, a.delete:hover {
	background-color:#FF0000;
	color:#FFFFFF;
	text-decoration:none;
}

.widget-comment-number a,
.widget-comment-number a:visited {
	color: #FFF !important;
	text-shadow: none !important;
}

.footer-widget {
	color: white;
	text-shadow: 1px 1px 1px black;
}

.footer-widget a,.footer-widget a:visited { color: #afafaf; text-decoration: none; }
.footer-widget a:hover { color: #fff; text-shadow: 1px 1px 1px #000; }

div.wysiwyg {
	margin-left: 80px;
	border: 0;
}
