<html>
<head>
	<title>Me Case - Contato pelo site</title>
</head>
<body>
	<h2>Contato enviado pelo site</h2>
	
	<h3>Nome</h3>
	<p>${nome}</p>
	
	<h3>Email</h3>
	<p>${email}</p>
	
	<h3>Assunto</h3>
	<p>${assunto}</p>
	
	<h3>Mensagem</h3>
	<p>${mensagem}</p>
</body>
</html>
