<html>
  <head>
  </head>
  <body>

    <h3>Hi ${name}! Thank you for signing up at Group Birthdays!</h3>
    <p><a href="http://localhost:8080/login">Click here</a> to log in and confirm your account</p>

  </body>
</html>
