<html>
<head>
	<title>Contact</title>
</head>
<body>
	<h2>Contact sent through your website</h2>

	<h3>Name</h3>
	<p>${name}</p>
	
	<h3>Email</h3>
	<p>${email}</p>
	
	<h3>Subject</h3>
	<p>${subject}</p>
	
	<h3>Message</h3>
	<p>${message}</p>
</body>
</html>
