/********************************************************************

Project: Formee - http://www.formee.org
Last Updated: 19/04/2010
Version: 1.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
             Daniel Araujo - http://www.dnlaraujo.com.br
			 Marcello Manso - http://www.marcellomanso.com.br
			 
********************************************************************
Style
********************************************************************/
/* Form Style */
.form {
	font: normal 12px/1em arial, Verdana, "Trebuchet MS", Helvetica,
		sans-serif;
}

.form fieldset {
	border: 1px solid #999;
	border-top: 3px solid #000;
	border-bottom: 1px solid #ccc;
	background: #efefef;
	padding-bottom: 0.6em;
	margin: 0 0 3em;
}

/* hover effect */
.grid-1-12:hover,.grid-2-12:hover,.grid-3-12:hover,.grid-4-12:hover,.grid-5-12:hover,.grid-6-12:hover,.grid-7-12:hover,.grid-8-12:hover,.grid-9-12:hover,.grid-10-12:hover,.grid-11-12:hover,.grid-12-12:hover
	{
	background: #e5e5e5;
}

.field-button:hover {
	background: transparent;
}

/* Form legend and titles */
.form legend {
	font-size: 1.7em;
	padding: 10px 10px 10px;
	margin-bottom: 10px;
	background: #000;
	margin-left: 1.04%;
	color: #fff;
}

/* form elements  */
.form-lbl {
	font-size: 1em;
	font-weight: bolder;
}

.form-req {
	font-weight: bold;
	font-style: normal;
	color: #d10000;
	font-size: 1.4em;
}

.form .form-txt,.form textarea,.form select {
	border-color: #235485;
	background: #fff;
	color: #333;
	font: normal 12px/1em arial, Verdana, "Trebuchet MS", Helvetica,
		sans-serif;
}

.form .form-txt:hover,.form textarea:hover,.form select:hover {
	border-color: #235485;
	background: #fafafa;
	color: #333;
}

.form .form-txt:focus,.form textarea:focus,.form select:focus {
	border-color: #103b66;
	background: #f4fcff;
	color: #235485;
}

/* form msg status  */
.form-msg-info,.form-msg-warning,.form-msg-error,.form-msg-success {
	padding-left: 27px;
	font-size: 0.9em;
	border-bottom: 1px solid #ccc;
}

.form-msg-info {
	background: #d1ecf7 url(../img/form-ic-info.png) no-repeat 5px 4px;
	border-color: #bcdfef;
	color: #11689e;
}

.form-msg-warning {
	background: #fff6bf url(../img/form-ic-warning.png) no-repeat 5px 4px;
	border-color: #fceb77;
	color: #957210;
}

.form-msg-error {
	background: #fad0d0 url(../img/form-ic-error.png) no-repeat 5px 4px;
	border-color: #f6abab;
	color: #b01717;
}

.form-msg-success {
	background: #e5f8ce url(../img/form-ic-success.png) no-repeat 5px 4px;
	border-color: #d0f1a6;
	color: #62b548;
}

/* form buttons */
.form-button {
	font-size: 1.2em;
	background: #235485;
	color: #fff;
}

.form-button:hover {
	background: #666;
}
