<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>${artifactId}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <style>
            body { padding-top: 4.5rem; }
        </style>
        <script>document.documentElement.classList.replace('no-js', 'js');</script>
    </head>
    <body>
        <wicket:child />

        <script src="js/vendor/bootstrap.bundle.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
