<wicket:extend>
<div class="wrap">
	<div class="login">
		<div class="login-container">
			<h1 class="logo"><a href="#">${artifactId}</a></h1>
			<div class="login-form">
				<form wicket:id="form" class="form" id="loginform">
					<fieldset>
						<div class="grid-6-12">
							<input wicket:id="email" id="email" type="text" placeholder="E-mail" class="form-txt"/>
						</div>
						<div class="grid-6-12">
							<input wicket:id="password" id="password" type="password" placeholder="Password" class="form-txt"/>
						</div>
						<div class="grid-12-12 grid-link">
							<a wicket:id="forgotpass" href="#">Forgot my password</a>
						</div>
			 			<div class="feedbackPanel" wicket:id="feedback"></div>
						<div class="grid-12-12 buttons">
							<input wicket:id="login" type="submit" class="form-button" id="btnLogin" value="Login"/>
                            <input wicket:id="create" type="submit" class="form-button form-button-createaccount" id="btnCreate" value="Create Account"/>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
</wicket:extend>
