
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
<head profile="http://gmpg.org/xfn/11"> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=7" /> 
	<title>Valide a sua Ideia de Negócio</title> 

	<link href="stylesheets/style.css?1307573983" media="screen" rel="stylesheet" type="text/css" />
<link href="stylesheets/jquery.fancybox-1.3.4" media="screen" rel="stylesheet" type="text/css" />
<link href="stylesheets/jquery.rating.css?1307573983" media="screen" rel="stylesheet" type="text/css" />
<link href="stylesheets/TextboxList.css?1307573983" media="screen" rel="stylesheet" type="text/css" />
<link href="stylesheets/jquery.wysiwyg.css?1307573983" media="screen" rel="stylesheet" type="text/css" />
<link href="stylesheets/application.css?1307573983" media="screen" rel="stylesheet" type="text/css" />
	<meta name="csrf-param" content="authenticity_token"/>
<meta name="csrf-token" content="GTzTsCabGVs4EZb+zIu0gOoDfK25AIjVz+eFVFagfwk=">

	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:light,regular,bold&amp;subset=latin' rel='stylesheet' type='text/css' /> 

<!--[if lt IE 7]>
<link href="stylesheets/ie6style.css?1307573983" media="screen" rel="stylesheet" type="text/css" />
<script src="javascripts/DD_belatedPNG_0.0.8a-min.js?1307573983" type="text/javascript"></script>
<script type="text/javascript">DD_belatedPNG.fix('img#logo, p#slogan, #menu, #top-overlay, #featured-overlay, span.overlay, .entry-content p.meta-info, #controllers span#right-arrow, #controllers span#left-arrow, #footer-content, #footer');</script>
<![endif]--> 
<!--[if IE 7]>
<link href="stylesheets/ie7style.css?1307573983" media="screen" rel="stylesheet" type="text/css" />
<![endif]--> 
<!--[if IE 8]>
<link href="stylesheets/ie8style.css?1307573983" media="screen" rel="stylesheet" type="text/css" />
<![endif]--> 

<script type="text/javascript"> 
document.documentElement.className = 'js';
</script> 

<link media="screen" type="text/css" href="epanel/page_templates/page_templates.css" rel="stylesheet" />
<link rel='stylesheet' id='et-shortcodes-css-css'  href='epanel/shortcodes/shortcodes.css?ver=1.7' type='text/css' media='all' /> 

<script src="javascripts/DD_belatedPNG_0.0.8a-min.js?1307573983" type="text/javascript"></script>

<script src="http://www.google.com/jsapi"></script> 
<script type="text/javascript"> 
// Load jQuery
google.load("jquery", "1.4.4");

google.setOnLoadCallback(function() {
	// Seu código aqui
});
</script>
	<script src="javascripts/rails.js?1307573983" type="text/javascript"></script>
<script src="javascripts/jquery.MetaData.js?1307573983" type="text/javascript"></script>
<script src="javascripts/jquery.rating.js?1307573983" type="text/javascript"></script>
<script src="javascripts/GrowingInput.js?1307573983" type="text/javascript"></script>
<script src="javascripts/TextboxList.js?1307573983" type="text/javascript"></script>
<script src="javascripts/jwysiwyg/jquery.wysiwyg.js?1307573983" type="text/javascript"></script>
<script src="javascripts/jwysiwyg/wysiwyg.i18n.js?1307573983" type="text/javascript"></script>
<script src="javascripts/jwysiwyg/lang.pt_br.js?1307573983" type="text/javascript"></script>
<script type='text/javascript' src='epanel/shortcodes/js/et_shortcodes_frontend.js?ver=1.7'></script> 
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="http://apis.google.com/js/plusone.js">
  {lang: 'pt-BR'}
</script>
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style> 
<style type="text/css"> 
#et_pt_portfolio_gallery { margin-left: -15px; }
.et_pt_portfolio_item { margin-left: 18px; }
.et_portfolio_small { margin-left: -40px !important; }
.et_portfolio_small .et_pt_portfolio_item { margin-left: 27px !important; }
.et_portfolio_large { margin-left: -50px !important; }
.et_portfolio_large .et_pt_portfolio_item { margin-left: 11px !important; }
</style> 

</head> 
<body id="home"> 
	<div id="header"> 
		<div id="header-inner"> 
			<div class="container">
				<a href=""><img alt="Logo" id="logo" src="images/logo.png?1307573983" /></a> 
				<ul id="primary-menu" class="nav">
					<li class="menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home ">
						<a href=""><strong>Explore</strong><span>Vote nas Ideias</span></a>
					</li>	
					<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home ">
						<a href="ideas/new"><strong>Participe</strong><span>Envie sua Ideia</span></a>
					</li> 
				</ul>					
			</div> <!-- end .container --> 
		</div> <!-- end #header-inner --> 
	</div> <!-- end #header --> 

	<div id="header-bottom"> 
		<div class="container">
			<div id="search-bar">
				<form accept-charset="UTF-8" action="http://ideias.startupdev.com.br/" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
					<input id="searchinput" name="q" type="text" value="busque ideias..." />
					<input type="image" src="images/search-icon.png" id="searchsubmit" /> 
</form>			</div>

		</div> <!-- end .container --> 
	</div> <!-- end #header-bottom --> 
	<div id="content" > 
		<div id="right-shadow"> 
			<div id="top-shadow"></div> 
			<div class="container clearfix"> 
				<div class="et-box et-info">
					<div class="et-box-content"><span style="font-size: 17px;">Seu voto foi computado com sucesso.</span></div>
				</div>
				<div id="main-area">
					<div id="breadcrumbs">
	<a href="">Home</a> <span class="raquo">»</span> Projeto da Lâmpada
</div>
<div class="entry">
	<div class="entry-top">
		<div class="entry-content">
			<span class="comment-number unanswered"><a href="http://ideias.startupdev.com.br/ideas/1-projeto-da-lampada#disqus_thread" data-disqus-identifier="idea_id_1">0</a></span>
			<div class="author-inner" style="min-height: 70px">
				<div class="author-image">
				  <img alt="Rafael Esberard's avatar" height="62" src="https://secure.gravatar.com/avatar/22bae19a45b45730d225b05fd133db1d?s=62" width="62" />
					<div class="author-overlay"></div>
				</div> <!-- .author-image --> 
				<div class="author-info">
					<h2 class="title"><a href="ideas/1-projeto-da-lampada">Projeto da Lâmpada</a></h2>	
					<span class="quote"></span> <span class="author">
					  

						<div class="postshare">
							<iframe src="http://www.facebook.com/plugins/like.php?app_id=146189548787526&amp;href=http%3A%2F%2Fideias.startupdev.com.br%2Fideas%2F1-projeto-da-lampada&amp;send=false&amp;layout=button_count&amp;width=110&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
							<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://ideias.startupdev.com.br/ideas/1-projeto-da-lampada" data-text="Gostei dessa ideia!" data-count="horizontal" data-via="">Tweet</a>
							<g:plusone size="medium" href="http://ideias.startupdev.com.br/ideas/1-projeto-da-lampada"></g:plusone>
						</div>
				</div> <!-- .author-info -->
			</div> <!-- .author-inner -->
			<div class="clear"></div>
				<div class="postmeta">
					<form accept-charset="UTF-8" action="ideas/1-projeto-da-lampada/rating" class="edit_idea" id="edit_idea_1" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="GTzTsCabGVs4EZb+zIu0gOoDfK25AIjVz+eFVFagfwk=" /></div>
							<input class="auto-submit-star" id="rating_1" name="rating" type="radio" value="1" />
							<input class="auto-submit-star" id="rating_2" name="rating" type="radio" value="2" />
							<input class="auto-submit-star" id="rating_3" name="rating" type="radio" value="3" />
							<input class="auto-submit-star" id="rating_4" name="rating" type="radio" value="4" />
							<input checked="checked" class="auto-submit-star" id="rating_5" name="rating" type="radio" value="5" />
</form>          <script type="text/javascript">
//<![CDATA[

          	$('.auto-submit-star').rating({
          		callback: function(value, link){
          			this.form.submit();
          		}
          	});
          
//]]>
</script>
				</div>
				<div class="postmeta">
					<p class="postinfo">
						Escrito por <a href="?q=Rafael+Esberard">Rafael Esberard</a> em 08/06, 19:54 h
					</p> 
				</div>
				<div class="post-content">
					<p><span class="Apple-tab-span" style="white-space: pre;">	</span>Meu projeto eh um site cinza e branco com um lâmpada amarela feia! :)</p>
					<div class="clear"></div>
				</div>

				<div class="postmeta">
			    <div class="report-spam">
			      <a href="http://ideias.startupdev.com.br/ideas/1-projeto-da-lampada/spam" class="small-button smallsilver" data-method="put" rel="nofollow"><span>Reportar spam</span></a>
			    </div>
					<div class="clear"></div>
				</div>
			<div class="tags"> 
			</div>
		</div>
	</div>
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'startupdev-ideias';
    var disqus_identifier = 'idea_id_1';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

				</div> <!-- end #main-area --> 
				<div id="sidebar"> 
					<div id="sidebar-bottom"> 
						<div id="sidebar-content"> 
							<div class="widget-button">
							  <a href="http://ideias.startupdev.com.br/ideas/new" id="call_to_action"><span>Cadastre sua Ideia</span></a>
							</div>
							<div class="widget widget_archive">
								<h4 class="widgettitle">Tags</h4>
								<div class="widget-content">
										<a href="tag/Legal" class="tag3">Legal</a>
										<a href="tag/Almo%C3%A7o" class="tag3">Almoço</a>
										<a href="tag/Galera" class="tag3">Galera</a>
										<a href="tag/%C3%A1udio" class="tag3">áudio</a>
										<a href="tag/domination" class="tag3">domination</a>
										<a href="tag/milh%C3%B5es" class="tag3">milhões</a>
										<a href="tag/social" class="tag4">social</a>
										<a href="tag/webdesign" class="tag3">webdesign</a>
										<a href="tag/world" class="tag3">world</a>
										<a href="tag/microblogging" class="tag3">microblogging</a>
										<a href="tag/Gratis" class="tag3">Gratis</a>
										<a href="tag/Adicionar" class="tag3">Adicionar</a>
										<a href="tag/web" class="tag3">web</a>
										<a href="tag/desenvolvimento" class="tag3">desenvolvimento</a>
										<a href="tag/Pra" class="tag3">Pra</a>
										<a href="tag/twitter" class="tag3">twitter</a>
										<a href="tag/Muito" class="tag3">Muito</a>
										<a href="tag/video" class="tag3">video</a>
										<a href="tag/Esse" class="tag3">Esse</a>
										<a href="tag/Tag" class="tag3">Tag</a>
										<a href="tag/Componente" class="tag3">Componente</a>
										<a href="tag/de" class="tag3">de</a>
								</div>
							</div>
								<div id="tabbed" class="sidebar-block">
									<h4 class="widgettitle">Recentes</h4>
									<div id="recent-tabbed" class="widget-content"> 
										<ul> 
												<li class="clearfix"> 
													<span class="title"><a href="ideas/38-iterar-na-ideia-do-startup-dev">Iterar na idéia do Startup Dev</a></span> 
													<p class="post-info">Escrito por <a href="?q=Cayo+Medeiros+%28yogodoshi%29">Cayo Medeiros (yogodoshi)</a> em 09/06, 12:57 h</p> 
													<span class="widget-comment-number"><a href="http://ideias.startupdev.com.br/ideas/38-iterar-na-ideia-do-startup-dev#disqus_thread" data-disqus-identifier="idea_id_38">0</a></span> 
												</li>
												<li class="clearfix"> 
													<span class="title"><a href="ideas/37-tipo-um-twitter-mas-de-apenas-um-caracter">Tipo um Twitter, mas de ape...</a></span> 
													<p class="post-info">Escrito por <a href="?q=J%C3%A1+Rule">Já Rule</a> em 09/06, 12:28 h</p> 
													<span class="widget-comment-number"><a href="http://ideias.startupdev.com.br/ideas/37-tipo-um-twitter-mas-de-apenas-um-caracter#disqus_thread" data-disqus-identifier="idea_id_37">0</a></span> 
												</li>
												<li class="clearfix"> 
													<span class="title"><a href="ideas/30-framework-para-desenvolvimento-web">Framework para desenvolvime...</a></span> 
													<p class="post-info">Escrito por <a href="?q=Marcos+Tapaj%C3%B3s">Marcos Tapajós</a> em 09/06, 11:40 h</p> 
													<span class="widget-comment-number"><a href="http://ideias.startupdev.com.br/ideas/30-framework-para-desenvolvimento-web#disqus_thread" data-disqus-identifier="idea_id_30">0</a></span> 
												</li>
												<li class="clearfix"> 
													<span class="title"><a href="ideas/13-concorrente-g-da-apple">Concorrente G da Apple</a></span> 
													<p class="post-info">Escrito por <a href="?q=Ivan">Ivan</a> em 08/06, 20:32 h</p> 
													<span class="widget-comment-number"><a href="http://ideias.startupdev.com.br/ideas/13-concorrente-g-da-apple#disqus_thread" data-disqus-identifier="idea_id_13">0</a></span> 
												</li>
												<li class="clearfix"> 
													<span class="title"><a href="ideas/12-tirar-essa-lampada-tosca-do-site">Tirar essa lâmpada tosca do...</a></span> 
													<p class="post-info">Escrito por <a href="?q=Rafael+B.+Tauil">Rafael B. Tauil</a> em 08/06, 20:17 h</p> 
													<span class="widget-comment-number"><a href="http://ideias.startupdev.com.br/ideas/12-tirar-essa-lampada-tosca-do-site#disqus_thread" data-disqus-identifier="idea_id_12">0</a></span> 
												</li>
										</ul>	
									</div>
								</div>
						</div> <!-- end #sidebar-content --> 
					</div> <!-- end #sidebar-bottom --> 
				</div> <!-- end #sidebar -->
			</div> <!-- end .container --> 
		</div> 	<!-- end #right-shadow --> 
	</div> <!-- end #content -->
	<div id="footer"> 
		<div id="footer-content">
			<div class="container clearfix"> 
				<div id="linkcat-2" class="footer-widget widget_links">
					<h4 class="widgettitle">Sobre</h4> 
					<p>Este aplicativo foi desenvolvido em 48h pela equipe do <a href="http://startupdev.com.br">Startup DEV</a>.</p>
					<p>Se você deseja tornar sua ideia uma realidade, fale conosco.</p>
				</div> <!-- end .footer-widget --> 
				<div class="clear"></div>
			</div> <!-- end .container -->	
			<div id="footer-bottom">	
				<div class="container clearfix"> 
					<ul id="footer-menu" class="bottom-nav">
						<li id="menu-item-57" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-57">
							<a href="">Home</a>
						</li>
						<li id="menu-item-57" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-57">
							<a href="ideas/new">Cadastrar uma Ideia</a>
						</li>
					</ul>											
					<p id="copyright">Desenvolvido por  <a href="http://startupdev.com.br" title="Startup DEV">Startup DEV</a></p> 
				</div> <!-- end .container -->	
			</div> <!-- end #footer-bottom --> 
		</div> <!-- end #footer-content --> 
	</div> <!-- end #footer -->
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js" type="text/javascript"></script>
	<script src="javascripts/superfish.js?1307573983" type="text/javascript"></script>
<script src="javascripts/cufon-yui.js?1307573983" type="text/javascript"></script>
<script src="javascripts/League_Gothic_400.font.js?1307573983" type="text/javascript"></script>

	<script type="text/javascript"> 
	//<![CDATA[


	Cufon.replace('ul#primary-menu a strong',{textShadow:'1px 1px 1px #000', hover: { textShadow: '1px 1px 1px #000' }})('ul#primary-menu ul a',{textShadow:'1px 1px 1px #000'});

	jQuery('ul.nav').superfish({ 
		delay:       200,                            // one second delay on mouseout 
		animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
		speed:       'fast',                          // faster animation speed 
		autoArrows:  true,                           // disable generation of arrow mark-up 
		dropShadows: false                            // disable drop shadows 
	});

	jQuery('ul.nav > li > a.sf-with-ul').parent('li').addClass('sf-ul');

	et_search_bar();

	var $featured_content = jQuery('#slides');

	if ($featured_content.length) {
		$featured_content.cycle({
			timeout: 0,
			speed: 500,
			cleartypeNoBg: true,
			prev:   '#featured a#left-arrow', 
			next:   '#featured a#right-arrow'
		});
	}

	<!---- Search Bar Improvements ---->
	function et_search_bar(){
		var $searchform = jQuery('#header-bottom div#search-bar'),
		$searchinput = $searchform.find("input#searchinput"),
		searchvalue = $searchinput.val();

		$searchinput.focus(function(){
			if (jQuery(this).val() === searchvalue) jQuery(this).val("");
		}).blur(function(){
			if (jQuery(this).val() === "") jQuery(this).val(searchvalue);
		});
	};

	et_footer_improvements('#footer .footer-widget');

	<!---- Footer Improvements ---->
	function et_footer_improvements($selector){
		var $footer_widget = jQuery($selector);

		if (!($footer_widget.length == 0)) {
			$footer_widget.each(function (index, domEle) {
				if ((index+1)%4 == 0) jQuery(domEle).addClass("last").after("<div class='clear'></div>");
			});
		}
	}

	$comment_rating = jQuery('.comment_rating');

	$comment_rating.live('mouseover', function(){
		if ( jQuery(this).find('.et_like_dislike_box').css('visibility') == 'visible' ) return;
		if ( jQuery(this).find('.et_like_dislike_box').length ) {
			jQuery(this).prev('.comment-wrap-inner').animate({ opacity: .5 }, 500);
			jQuery(this).parent().prev('.avatar-box').animate({ opacity: .5 }, 500);

			jQuery(this).find('.et_like_dislike_box').css( { opacity: 0, 'visibility': 'visible' } ).animate( { opacity: 1, left: 51 }, 500);
		}
	});

	$comment_rating.live('mouseout', function(e){
		if ( jQuery(e.relatedTarget).parents('.et_like_dislike_box').length || jQuery(e.relatedTarget).is('.et_like_dislike_box') )  return;

		if ( jQuery(this).find('.et_like_dislike_box').length ) {
			jQuery(this).find('.et_like_dislike_box').animate( { opacity: 0, left: 61 }, 500, function(){
				jQuery(this).css( { opacity: 0, 'visibility': 'hidden' } )
			});

			jQuery(this).prev('.comment-wrap-inner').animate({ opacity: 1 }, 500);
			jQuery(this).parent().prev('.avatar-box').animate({ opacity: 1 }, 500);
		}
	});


	$mainContent = jQuery('#comment-wrap');

	jQuery('a.right_answer, a.et_like_button, a.et_dislike_button').live("click", function(){
		$href = jQuery(this).attr('href');
		$mainContent.fadeTo('fast',0.2).load($href+' #comment-wrap', function() {				
			$mainContent.fadeTo('fast',1);
		}); 
		return false;
	});


	$contentArea = jQuery('#main-area');

	jQuery('body#home #main-tabbed-area a, body#home .wp-pagenavi a, body#home .pagination a').live("click", function(){
		$href = jQuery(this).attr('href');
		$contentArea.fadeTo('fast',0.2).load($href+' #main-area', function() {				
			$contentArea.fadeTo('fast',1);
		}); 
		return false;
	});


	$createNewAnswer = jQuery('#create_new_post');

	$createNewAnswer.find('form').submit(function() {
		$href = jQuery(this).attr('action');

		$createNewAnswer.fadeTo('fast',0.2).load($href+' #create_new_post', jQuery(this).serializeArray(), function() {
			$createNewAnswer.fadeTo('fast',1);
		}); 
		return false;
	});

	var $tabbed_area = jQuery('div#tabbed');
	if ($tabbed_area.length) {
		$tabbed_area.tabs({ fx: { opacity: 'toggle' } });
	};


	Cufon.now();
	//]]>	
	</script>
	<script type='text/javascript' src='epanel/page_templates/js/fancybox/jquery.easing-1.3.pack.js?ver=1.3.4'></script> 
	<script type='text/javascript' src='epanel/page_templates/js/fancybox/jquery.fancybox-1.3.4.pack.js?ver=1.3.4'></script> 
	<script type='text/javascript' src='epanel/page_templates/js/et-ptemplates-frontend.js?ver=1.1'></script>
</body> 
</html>
